   
   

<table style=" margin:30px auto; border-collapse:collapse;">
  
    <tr>
     <h1>Liste des étudiants</h1>
      <th style="border: 1px solid #000;">Ref</th>
      <th style="border: 1px solid #000;">Title</th>
      <th style="border: 1px solid #000;">Publication Date</th>
      <th style="border: 1px solid #000;">Category</th>
      <th style="border: 1px solid #000;">Published</th> 
      <th style="border: 1px solid #000;">Author</th>
       <th style="border: 1px solid #000;">Action</th>
      
    </tr>
  

    {% for book in response %}
      <tr>
        <th style="border: 1px solid #000;">{{ book.id }}</th>
        <th style="border: 1px solid #000;">{{ book.title }}</th>
        <th style="border: 1px solid #000;">{{ book.publicationDate|date('Y_m_d ') }}</th>
        <th style="border: 1px solid #000;">{{ book.category }}</th>
        <th style="border: 1px solid #000;">{{ book.published }}</th>
        <th style="border: 1px solid #000;">{{ book.author }}</th>
        <th style="border: 1px solid #000;">
          <a href="/update1/{{ book.id }}" class="modifier">edit</a>

          <a href="/remove/{{ book.id }}" class="delete">delete</a>
             <a href="/details/{{ book.id }}" class="show">show</a>         
          
        </th>
      </tr>

    {% endfor %}
    
  

</table>
<h4>Number of published books:{{book1|length}} </h4> 
<a href="/addF1" class="add">Create New</a>